.logo {
   width: 80px;
}

.popoop {
   border-bottom: 1px solid rgb(68, 67, 67);
}

.JGU {
   font-size: 12px;
}

.jhbjhb {
   gap: 20px;
}

.jhbj {
   gap: 4px;
}

.doom {
   width: 20px;
   height: 20px;
}