* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.clip-box {
   clip-path: polygon(0 15%, 17% 0, 100% 0, 100% 73%, 82% 100%, 0 100%);
   object-fit: cover;
}

.clip-box-2 {
   clip-path: polygon(0 0, 95% 0, 100% 21%, 100% 100%, 6% 100%, 0 82%);
}

.clip-box-3 {
   clip-path: polygon(0 0, 91% 0, 100% 12%, 100% 100%, 9% 100%, 0 87%);
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: black;
}

.roboto {
   font-family: 'Roboto', sans-serif;
}

button {
   border: none;
   outline: none;
}

.yelow {
   background-color: #f4be00;
}

.black {
   color: black;
}

.text-yelow {
   color: #f4be00;
}

/* navbar */
.navbar {
   background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0));
   z-index: 100;
}

.logo {
   width: 150px;
}

.flag {
   border-radius: 50%;
   width: 24px;
   height: 24px;
   object-fit: cover;
}

.india p span {
   font-size: large;
}

.down {
   font-size: small;
   font-weight: 700;
}

.plus {
   margin-top: -13px;
}

.navbar {
   z-index: 10;
}

.nav-item i:hover {
   color: yellow !important;
}

/* Carousel */

.hero-1 {
   background-image: url(./../images/hero-1.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.hero-2 {
   background-image: url(./../images/hero-2.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.hero-3 {
   background-image: url(./../images/hero-3.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.carousel-control-next,
.carousel-control-prev {
   width: 50px;
}


.bolder {
   font-weight: 900;
}

.line {
   width: 200px;
   height: 5px;
   background-color: #f4be00;
}

.carousel-text {
   background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.838))
}

.car-desc {
   font-size: 18px;
}

.bura {
   font-size: 12px;
}

.bura span {
   color: #f4be00;
}

.yellow-button {
   padding: 15px 20px 15px 35px;
   font-size: 12px;
   font-weight: bold;
   margin: 10px;
}

.yellow-button i {
   margin-left: 40px;
   font-size: 16px;
}

.arrow {
   transition: ease-in .3s;
}

.yellow-button:hover .arrow {
   transform: translateX(5px);
}

.lh {
   line-height: 50px;
}

@media (max-width: 500px) {
   .carousel-item {
      height: 94vh !important;
      background-position: center;
      background-size: cover;
   }
}

/* Bike */

.bike {
   transition: ease-in 0.2s;
   margin-bottom: 20px;
}

.bike:hover {
   transform: scale(1.1);
}

.tolum {
   max-width: 480px;
   font-size: 18px;
}

/* Stories */
.arrow-1 {
   padding: 3px 10px;
   background-color: #ccc;
}

.arrow-2 {
   padding: 3px 10px;
   background-color: #f4be00;
}

.bombastic {
   height: 250px;
}

.box {
   height: 230px;
}

.fgjj {
   background-color: black;
   color: white;
   margin: 100px 0 180px;
}



@media (min-width: 800px) {
   .booom {
      transform: scale(1.2);
   }
   .shrooom {
      transform: scale(1.3);
   }
}





.kom {
   margin-bottom: -30px;
}



.dom {
   width: 250px;
}

.gffCD {
   background-color: #f4be00;
   color: black;
   margin: 100px 0 100px;
}

.dfghi {
   font-size: 18px;
}

.sdghasdtcf {
   background-image: url(../images/clip-8.png);
   height: 420px;
   background-size: cover;
   background-position: center;
   margin-bottom: 20px;
   padding: 0;
}

.kibi {
   background-color: rgba(0, 0, 0, 0.347);
   padding: 80px 0;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mibi {
   background-color: rgba(0, 0, 0, 0.347);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ghuli {
   height: 560px;
   background-image: url(../images/clip-9.jpg);
}

.hhuli {
   height: 560px;
   background-image: url(../images/clip-10.jpg);
}

.karpos {
   gap: 20px;
}

.image-1 {
   background-size: cover;
   background-position: center;
   height: 440px;
}

.img-1 {
   background-image: url(../images/img-1.jpg);
}

.img-2 {
   background-image: url(../images/img-2.jpg);
}

.img-3 {
   background-image: url(../images/img-3.jpg);
}

.img-4 {
   background-image: url(../images/img-4.jpg);
}

.img-5 {
   background-image: url(../images/img-5.jpg);
}

.img-6 {
   background-image: url(../images/img-6.jpg);
}

.img-7 {
   background-image: url(../images/img-7.jpg);
}

.img-8 {
   background-image: url(../images/img-8.jpg);
}

.img-9 {
   background-image: url(../images/img-1.jpg);
}

.bango {
   display: none;
}

.cgan,
.bango {
   transition: ease-in 0.2s;
}

.image-1:hover .cgan {
   background-color: rgba(0, 0, 0, 0.416);
}

.image-1:hover .bango {
   display: block;
}

.paka {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

@media (max-width: 750px) {
   .paka {
      grid-template-columns: 1fr 1fr;
      gap: 5px;
   }

   .image-1 {
      height: 200px;
   }
}

.vbv {
   background-color: black;
   padding: 100px 68px;
}

@media (max-width: 1025px) {
   .vbv {
      padding: 20px;
   }
}

.footer {
   background-color: black;
   padding: 80px 0;
}

.chuma {
   color: #666666;
   font-size: 18px;
   margin-top: 65px
}

.icon {
   color: #f4be00;
   font-size: 30px;
   margin: 40px 15px 0;
}